* {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: darkgrey;
    position: fixed;
    top: 0px;
    height: 60px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
}

.nav-item {
    margin: 10px;
    width: 100%;
    height: 100%;
}

a:link{
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: #0c0e0f;
}

a:visited{
   color: #000000;
}

a:hover{
    text-decoration: underline;
    color: rgb(8, 102, 224);
}

.showfeats {
    z-index: 1;
    height: 19em;
    justify-content: center;
    align-items: center;
    color: black;
    display: flex;
    font-size: 3em;
}

.main-tile-dimension {
    width: 100%;
    height: 100%;
    background-color: darkgray;
    color: white;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding-bottom: 20px;
}

.image-container-gym img {
    height: 840px;
    width: 100%;
}

.gym {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    flex-grow: 1;
    background-color: darkgrey;
}

.wrap-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.wrapper {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap: 60px;
}

.box {
    object-fit: cover;
    max-width: 300px;
    height: auto;
}

.grid-image {
    object-fit: cover;
    max-width: 300px;
    height: auto;
}

.grid-text {
    text-align: center;
}

.bottom {
    background-color: darkgrey;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.map {
    width: 250px;
    padding: 2%;
    padding-left: 100px;
}

.mapimg {
    width: 250px;
}

.footinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.footshows {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.social {
    display: flex;
    flex-direction: column;
    width: 25%;
    font: 0.6em;
}

.foothead {
    font-size: 2em;
}

.tiny {
    margin: 3px;
}